// src/views/purchases/Purchases.scss

$form-max-width: 1500px;
$primary-color: #4B4B4B;
$secondary-color: #f1f1f1;
$button-color: #fff;
$error-color: #A52A2A;

.form-container {
  max-width: $form-max-width;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.233);

  &:hover {
    //background-color: #d24231;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.411), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  


  h1 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 20px;
  }

  form {
    .static-fields {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      margin-bottom: 10px;

      @media (min-width: 800px) {
        flex-direction: row;
        justify-content: space-between;
      }

      .left-column {
        flex: 1; // Ajusta según sea necesario
        margin-right: 20px; // Espacio entre las columnas
      }

      .right-column {
        flex: 2; // Ajusta para que ocupe más espacio
      }

      .campo {
        margin-bottom: 5px; // Espaciado entre los campos
      }

      .campo {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
          font-weight: bold;
          color: #333;
        }

        input,
        textarea,
        select,
        .rbt-input-main {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1em;
          width: 100%;
          /* Asegura que el ancho se ajuste al contenedor */

          &:focus {
            border-color: $primary-color;
            outline: none;
          }
        }

        textarea {
          resize: vertical;
          /* Permite solo redimensionar verticalmente */
          min-height: 115px;
          max-width: 99%;
          /* Se asegura de que el ancho máximo no exceda el contenedor */
        }

        .error {
          color: $error-color;
          font-size: 0.9em;
          margin-top: 5px;
        }
      }

    }

    .producto-container {
      display: flex;
      flex-direction: row;
      /* Alinea todos los elementos en una fila */
      align-items: center;
      /* Centra verticalmente todos los elementos */
      gap: 10px;
      /* Espacio entre los elementos */
      margin-bottom: 10px;

      @media (max-width: 799px) {
        flex-direction: column;        
        /* Cambia a columna en pantallas pequeñas */
      }

      .producto {
        display: flex;
        flex-wrap: wrap;
        /* Permite que los elementos se envuelvan si no caben en una línea */
        gap: 10px;
        /* Espacio entre los elementos */
        padding: 15px 80px;
        background-color: #f9f9f9;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        margin-bottom: 20px;
        flex: 1;
        /* Permite que el card ocupe todo el espacio disponible */

        /* Asegura que cada grupo de formulario use flexbox */
        .form-group {
          display: flex;
          flex-direction: column;
          /* Mantiene los labels y controles apilados dentro de cada grupo */
          flex: 1;
          /* Permite que cada grupo de formulario crezca igualmente */
          min-width: 100px;
          /* Evita que se reduzca demasiado en pantallas pequeñas */
        }

        .form-control {
          width: 100%;
          /* Ajusta el ancho al 100% del contenedor */
        }

        /* Para pantallas más pequeñas */
        @media (max-width: 628px) {
          flex-direction: column;
          /* Cambia la dirección a columna en pantallas pequeñas */
        }

        .button-e {
          background-image: linear-gradient(45deg, #C0001E, #fc4964);
          margin-top: 1.5%;

          &:hover {
            background-image: linear-gradient(45deg, #fc4964, #fc4964);
          }
          @media (min-width: 800px) {
            width: auto;
          }
        }
      }

      .rbt {
        flex: 3;
        /* Ajuste del tamaño de los elementos de Typeahead */
        margin-right: 10px;
      }

      input[type="number"],
      select {
        flex: 1;
        width: 100%;
        max-width: 150px;
        margin-right: 10px;

        @media (max-width: 799px) {
          width: 100%;
        }
      }

      /* Ajuste del botón de eliminación para que esté alineado con el resto */

    }


    .total-container {
      text-align: right;
      margin-bottom: 20px;

      h3 {
        color: $primary-color;
      }
    }

    .buttons-group {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (min-width: 800px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .agregar-producto,
      .clear-all,
      .submit-button {
        // background-color: #6BBF5B;
        color: $button-color;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 1em;
        flex: 1;

        &:hover {
          background-color: #6BBF5B;
        }

        @media (min-width: 800px) {
          width: auto;
        }
      }

      .agregar-producto {
        background-image: linear-gradient(45deg, #7cf065, #05c40c);

        &:hover {
          background-image: linear-gradient(45deg, #7cf065, #7cf065);
        }
      }


      .clear-all {
        //background-color: #C0001E; // Color rojo para "Limpiar Todo"
        background-image: linear-gradient(45deg, #C0001E, #fc4964);

        &:hover {
          background-image: linear-gradient(45deg, #fc4964, #fc4964);
        }
      }

      .submit-button {
        // background-color: #003366; // Color azul para "Guardar"
        background-image: linear-gradient(45deg, #0e7be9, #003366);

        &:hover {
          background-image: linear-gradient(45deg, #075cb1, #075cb1);
        }
      }
    }

    // Estilos para Typeahead
    .rbt-input-main {
      width: 100%;
      box-sizing: border-box;
    }

    .rbt-menu {
      width: 100%;
    }
  }
}


select {
  padding: 10px;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
  transition: border-color 0.3s;
}

select:hover {
  border-color: #f9f9f9;
}

select:focus {
  outline: none;
  border-color: #007BFF;
  /* Color del borde al enfocar */
}