// src/views/purchases/PurchasesList.scss
$primary-color: #4B4B4B;
.purchases-list-container { 
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .table-container {
    max-height: 400px;
    /* Ajusta la altura según tus necesidades */
    overflow-y: auto;
  }

  h2 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 20px;
  }

  .loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    span {
      margin-top: 10px;
      font-size: 1.2em;
      color: #555;
    }
  }

  .table {
    margin-top: 20px;
  }

  .btn-info {
    margin-right: 5px;
  }
}

.customer-list-container{
max-width: 1000px;
  margin:  auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}