.custom-modal .modal-dialog {
    max-width: 80%; /* Establece el tamaño original del modal a 200% */
  }

  .container-historial-sales{
    max-width: 1000px;
      margin: auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 1200px) {
    .custom-modal .modal-dialog {
      max-width: 80%; /* Reduce el tamaño a un 90% en pantallas grandes */
    }
  }
  
  @media (max-width: 992px) {
    .custom-modal .modal-dialog {
      max-width: 80%; /* Reduce el tamaño a un 80% en pantallas medianas */
    }
  }
  
  @media (max-width: 768px) {
    .custom-modal .modal-dialog {
      max-width: 100%; /* El modal ocupa el 100% en pantallas pequeñas */
    }
  }
  
  @media (max-width: 576px) {
    .custom-modal .modal-dialog {
      max-width: 100%; /* Asegura que el modal ocupe el 100% en dispositivos móviles */
    }
  }
  