

/*ESTILOS SISGETC  */
.pcoded-navbar:not(.theme-horizontal) .navbar-content {
  height: calc(100% - 56px);
}

.navbar-color {
  background-color:#DD9933; 
}


$form-max-width: 600px;
$primary-color: #4B4B4B;
$secondary-color: #f1f1f1;
$button-color: #fff;
$error-color: #ff4d4f;

.form-container {
  max-width: $form-max-width;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: $secondary-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    color: #4B4B4B;
    margin-bottom: 20px;
  }

  form {
    .producto-container {
      margin-bottom: 10px;

      .error-messages {
        margin-top: 5px;

        .error {
          display: block;
          color: $error-color;
          font-size: 0.9em;
        }
      }
    }

    .producto {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      @media (min-width: 600px) {
        flex-direction: row;
        align-items: center;
      }

      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 1em;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }

      input[type="text"] {
        flex: 3;
        margin-right: 10px;

        @media (max-width: 599px) {
          width: 100%;
        }
      }

      input[type="number"] {
        flex: 1;
        width: 100%;
        max-width: 150px;
        margin-right: 10px;

        @media (max-width: 599px) {
          width: 100%;
        }
      }

      button {
        padding: 10px 15px;
        background-color: $primary-color;
        color: $button-color;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($primary-color, 10%);
        }

        @media (max-width: 599px) {
          width: 100%;
          margin-top: 10px;
        }
      }
    }

    .buttons-group {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .agregar-producto, .clear-all, .submit-button {
        background-color: $primary-color;
        color: $button-color;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 1em;
        flex: 1;

        &:hover {
          background-color: darken($primary-color, 10%);
        }

        @media (min-width: 600px) {
          width: auto;
        }
      }

      .clear-all {
        background-color: #f44336; // Color rojo para "Limpiar Todo"

        &:hover {
          background-color: darken(#f44336, 10%);
        }
      }

      .submit-button {
        background-color: #2196F3; // Color azul para "Guardar"

        &:hover {
          background-color: darken(#2196F3, 10%);
        }
      }
    }
  }
}



/* Tamaño del logo*/
.logo-home {
  width: 185px; /* Cambia el tamaño según necesites */
  height: auto; /* Mantiene la proporción */
}








/*ESTILOS SISGETC  */


/* search */
.search-bar {
  display: block;
}

/* menu */
.pcoded-navbar {
  .pcoded-inner-navbar {
    > li {
      > a.active {
        background: rgba(202, 202, 202, 0.3);
        &:before {
          background: $primary-color;
        }
      }
    }
    li {
      > a.active {
        font-weight: 600;
      }
      .pcoded-submenu > li {
        &.active,
        &:focus,
        &:hover {
          > a,
          > a.active {
            &:before {
              background: $primary-color;
            }
          }
        }
        > a.active {
          &:before {
            background: $primary-color;
          }
        }
      }
    }

    > .pcoded-menu-caption {
      &.active,
      &.pcoded-trigger {
        &:after {
          display: none;
        }
      }
    }
  }
}

/* card header */
.card .card-header + .collapse {
  .card-body {
    padding-top: 0;
  }
}

.go2791332690:before {
  bottom: -4.85em !important;
}

@media only screen and (max-width: 1199px) {
  .hover-blk {
    display: none;
  }
}
